{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
<a href="{{ path('category_add') }}">Create a new category</a>

{{ form_end(form) }}
