{% extends 'base.html.twig' %}

{% block title %}Les catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>
    <ul>
        {% for category in categories %}
            <li><a href="{{ path('category_one', {id: category.id}) }}">{{ category.name }}</a> - <a href="{{ path('category_edit', {id: category.id}) }}">Edit</a></li>
        {% endfor %}
    </ul>
    <a href="{{ path('category_add') }}">Ajouter une catégorie</a>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}

