{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>Program </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ program.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ program.title }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ program.summary }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ program.poster }}</td>
            </tr>
            <tr>
                <th>Seasons</th>
                <td>
                    {% for season in program.seasons %}
                        <li><a href="{{ path('season_show', {id: season.id}) }}">Saison {{ season.number }}</a> - <a
                                    href="{{ path('season_edit', {id: season.id}) }}">Edit</a> - <a href="{{ path('season_delete', {id: season.id}) }}">Delete</a></li>
                    {% endfor %}
                    <a href="{{ path('season_new') }}">Create a new season</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('program_index') }}">back to list</a>

    <a href="{{ path('program_edit', {'id': program.id}) }}">edit</a>

    {{ include('program/_delete_form.html.twig') }}

    <strong>Acteur :</strong>
    <ul>
        {%  for actor in program.actors %}
            <li>{{ actor.name }}</li>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>
{% endblock %}
